.main-footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 34px;
    box-sizing: border-box;
}

.main-footer .footer-content{
    text-align: center;
}

.main-footer .footer-content p{
    width: 312px;
    height: 56px;
}

.main-footer .footer-content img{
    margin-bottom: 16px;
}

.main-footer p {
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-weight: var(--text-weigth);
    margin-bottom: 8px;
}

.main-footer .footer-social {
    text-align: center;
}

.main-footer .footer-social a img{
    margin-top: 8px;
}

@media screen and (min-width:768px) {
    .main-footer .footer-content p{
    width: 519px;
    height: 32px;
}

}

@media screen and (min-width:1440px) {
    .main-footer{
        flex-direction: row;
        padding: 52px 120px;
        justify-content: space-between;
    }

    .main-footer .footer-content{
    text-align:initial;
}

}