.img-final {
  width: 100%;
  height: 400px;
  background: url(../imgs/hero-final-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .img-final {
    width: 100%;
    height: 400px;
    background: url(../imgs/hero-final-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .img-final {
    width: 100%;
    height: 400px;
    background: url(../imgs/hero-final-desktop.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .img-final {
    width: 100%;
    height: 600px;
    background: url(../imgs/hero-final-desktop.png) no-repeat;
    background-size: cover;
  }
}
