.text-content h3 {
    margin: 0;
}

.text-content p {
    margin: 24px 0;
    width: 100%;
    height: 160px;
}


.payments .img-content .lado {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.payments .img-content .bag {
    background: url(../imgs/malas.png) no-repeat;
    width: 144px;
    height: 254px;

}

.payments .img-content .passaport {
    background: url(../imgs/passaport.png) no-repeat;
    width: 144px;
    height: 254px;
}

.payments .img-content .people {
    background: url(../imgs/pessoas.png) no-repeat;
    width: 100%;
    height: 182px;
    margin-top: 24px;
}

