.text-content h3 {
  margin: 0;
}

.h3-pacotes {
  font-size: 40px;
  font-weight: var(--title-weigth);
  line-height: 100%;
}

.h4-pacotes {
  font-size: 28px;
  font-weight: var(--title-weigth);
  line-height: 100%;
}

.text-content p {
  margin: 24px 0;
  width: 100%;
  height: 160px;
}

.payments .img-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  grid-template-areas:
    "bags passaports"
    "people people";
}

.payments .img-content .bag {
  background: url(../imgs/malas.png) no-repeat;
  width: 144px;
  height: 254px;
  grid-area: bags;
}

.payments .img-content .passaport {
  background: url(../imgs/passaport.png) no-repeat;
  width: 144px;
  height: 254px;
  grid-area: passaports;
}

.payments .img-content .people {
  background: url(../imgs/pessoas.png) no-repeat;
  width: 100%;
  height: 182px;
  margin-top: 24px;
  grid-area: people;
}

.payments .img-content .jap1 {
  background: url(../imgs/Montagem-japao1.png) no-repeat;
  width: 144px;
  height: 254px;
  grid-area: bags;
  margin-top: 24px;
}

.payments .img-content .jap2 {
  background: url(../imgs/Montagem-japao2.png) no-repeat;
  width: 144px;
  height: 254px;
  grid-area: passaports;
  margin-top: 24px;
}

.payments .img-content .jap3 {
  background: url(../imgs/Montagem-japao3.png) no-repeat;
  width: 100%;
  height: 182px;
  margin-top: 24px;
  grid-area: people;
}

@media screen and (min-width: 768px) {
  .text-content p {
    margin: 24px 0;
    width: 100%;
    height: 64px;
  }

  .payments .img-content .bag {
    background: url(../imgs/malas-tablet.png) no-repeat;
    width: 312px;
    height: 254px;
    grid-area: bags;
  }

  .payments .img-content .passaport {
    background: url(../imgs/passaporte-tablet.png) no-repeat;
    width: 312px;
    height: 254px;
    grid-area: passaports;
  }

  .payments .img-content .people {
    background: url(../imgs/pessoas-tablet.png) no-repeat;
    width: 648px;
    height: 182px;
    margin-top: 24px;
    grid-area: people;
  }

  
.payments .img-content .jap1 {
  background: url(../imgs/Montagem-japao1-tablet.png) no-repeat;
  width: 312px;
  height: 254px;
  grid-area: bags;
  margin-top: 24px;
}

.payments .img-content .jap2 {
  background: url(../imgs/Montagem-japao2-tablet.png) no-repeat;
  width: 312px;
  height: 254px;
  grid-area: passaports;
  margin-top: 24px;
}

.payments .img-content .jap3 {
  background: url(../imgs/Montagem-japao3-tablet.png) no-repeat;
  width: 100%;
  height: 182px;
  margin-top: 24px;
  grid-area: people;
}
} 

@media screen and (min-width: 1440px) {
  .text-content h3 {
    width: 285px;
    height: 68px;
  }

  .divisao {
    display: flex;
    flex-direction: row;
    gap: 46px;
  }

  .text-content p {
    width: 361px;
    height: 128px;
  }

  .payments .img-content .bag {
    background: url(../imgs/malas-desktop.png) no-repeat;
    width: 382px;
    height: 254px;
    grid-area: bags;
  }

  .payments .img-content .passaport {
    background: url(../imgs/passaporte-desktop.png) no-repeat;
    width: 382px;
    height: 254px;
    grid-area: passaports;
  }

  .payments .img-content .people {
    background: url(../imgs/pessoas-desktop.png) no-repeat;
    width: 790px;
    height: 182px;
    margin-top: 24px;
    grid-area: people;
  }

  .payments .img-content .jap1 {
  background: url(../imgs/Montagem-japao1-desktop.png) no-repeat;
  width: 382px;
  height: 254px;
  grid-area: bags;
  margin-top: 24px;
}

.payments .img-content .jap2 {
  background: url(../imgs/Montagem-japao2-desktop.png) no-repeat;
  width: 382px;
  height: 254px;
  grid-area: passaports;
  margin-top: 24px;
}

.payments .img-content .jap3 {
  background: url(../imgs/Montagem-japao3-desktop.png) no-repeat;
  width: 100%;
  height: 182px;
  margin-top: 24px;
  grid-area: people;
}
}
